main {
    display: grid;
    grid-template-columns: 880px 420px;
    column-gap: 40px;
    padding: 0 50px;
}

/* HEADER */
header nav {
    display: grid;
    grid-template-columns: 200px auto repeat(3, 162px);
    grid-template-areas: "header-logo . header-accomodations header-activities header-sign";
    grid-template-rows: auto;
}

#header-logo {
    margin: 37px 50px;
}

#header-logo img {
    width: auto;
    height: 46px;
}

#header-accomodations,
#header-activities {
    line-height: 118px;
    border-top: 2px solid var(--lightgrey);
    border-bottom: none;
    padding-bottom: 0px;
}

#header-sign {
    margin-top: 2px;
    padding-right: 75px;
    line-height: 118px;
}

/* Effet de survol sur les champs "Hébergements" et "Activités"*/
#header-accomodations:hover,
#header-activities:hover {
    border-top-color: var(--blue);
}

/* SECTION RECHERCHE */
#section-search {
    padding: 0px 20px 0 50px;
}
/* Partie header de la section "RECHERCHE" */
#section-search h1 {
    padding: 10px 0px 2.5px 0px;
}

#section-search p:not(#search-info) {
    padding-bottom: 20px;
}

/* Partie principale de la section de recherche */
/* Sous-partie bouton recherche */
#search-button i:not(label i) {
    display: none;
}

#search-button input {
    max-width: 255px;
}

#search-button button {
    width: 135px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: var(--blue);
    font-size: 1.8rem;
}

#search-button span {
    display: inline;
    font-weight: 600;
}

/* Partie filtres */
form > h2 {
    display: inline-block;
    padding: 45px 37.5px 15px 10px;
}

#section-search button:not(#search-button button) {
    margin: 0px 20px 13px 0px;
}

.text-filter {
    font-size: 1.75rem;
}

/* Sous-partie infos de recherche */
#search-info {
    padding: 0;
    line-height: 95px;
    align-items: center;
}

#search-info i {
    margin: 0px 10px;
}

/* SECTION POPULAIRES */
#section-popular {
    background-color: var(--lightgrey);
    border-radius: 25px;
    grid-column: 2 / 3;
    grid-row: unset;
}

/* SECTION HEBERGEMENTS */
#section-accomodations {
    grid-column: 1 / 2;
    grid-row: unset;
    border-radius: 25px;
}

/* SECTION ACTIVITES */
aside {
    display: grid;
    grid-template-areas:
        "aside-header aside-header aside-header aside-header"
        "aside-article-1 aside-article-2 aside-article-4 aside-article-5"
        "aside-article-1 aside-article-3 aside-article-4 aside-article-6";
    row-gap: 0px;
    column-gap: 20px;
    background-color: white;
    padding-left: 3.5%;
    padding-right: 3.5%;
    padding-bottom: 60px;
}

/* Partie header de la section aside */
aside header {
    grid-area: aside-header;
    line-height: 107px;
    margin-bottom: -20px;
}

#aside-article-1 {
    grid-area: aside-article-1;
    height: 390px;
    object-fit: cover;
}

#aside-article-2 {
    grid-area: aside-article-2;
}

#aside-article-3 {
    grid-area: aside-article-3;
}

#aside-article-4 {
    grid-area: aside-article-4;
}

#aside-article-5 {
    grid-area: aside-article-5;
}

#aside-article-6 {
    grid-area: aside-article-6;
}

/* Carte de la section aside */
.figure-activities {
    background-color: white;
    border-radius: var(--radius);
    box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
    cursor: pointer;
}

.figure-activities img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.figure-activities h2 {
    font-size: 1.6rem;
    line-height: 56px;
    padding-left: 18px;
}

/* FOOTER */
#footer-about + ul {
    padding-bottom: 42px;
}

footer {
    display: grid;
    grid-template-columns: 31.25% 31.25% 37.25%;
    grid-template-rows: auto;
    grid-template-areas:
        "footer-about-h1 footer-accomodations-h1 footer-assistance-h1"
        "footer-about-ul footer-accomodations-ul footer-assistance-ul";
}

footer h1 {
    padding-top: 40px;
}
