@media screen and (max-width: 1210px) {
    h2:not(#section-search h2, #end-accomodations) {
        font-size: 1.3rem;
        font-weight: 700;
    }
    #section-accomodations p,
    #section-popular p {
        font-size: 1.1rem;
    }
}

main {
    display: grid;
    grid-template-columns: 65.67% 31.34%;
    grid-template-rows: 625px;
    column-gap: 2.99%;
    padding: 0 3.5%;
}

/* HEADER */
header nav {
    display: grid;
    grid-template-columns: 200px auto repeat(3, 162px);
    grid-template-areas: "header-logo . header-accomodations header-activities header-sign";
    grid-template-rows: auto;
}

#header-logo {
    margin: 37px 50px;
}

#header-logo img {
    width: auto;
    height: 46px;
}

#header-accomodations,
#header-activities {
    line-height: 118px;
    border-top: 2px solid var(--grey);
    border-bottom: none;
    padding-bottom: 0px;
}

#header-sign {
    margin-top: 2px;
    padding-right: 75px;
    line-height: 118px;
}

/* Effet de survol sur les champs "Hébergements" et "Activités"*/
#header-accomodations:hover,
#header-activities:hover {
    border-top-color: var(--blue);
}

/* SECTION RECHERCHE */
#section-search {
    padding: 0px 20px 0 50px;
}
/* Partie header de la section "RECHERCHE" */
#section-search h1 {
    padding: 10px 0px 2.5px 0px;
}

#section-search p:not(#search-info) {
    padding-bottom: 20px;
}

/* Partie principale de la section de recherche */
/* Sous-partie bouton recherche */
#search-button i:not(label i) {
    display: none;
}

#search-button input {
    max-width: 255px;
}

#search-button button {
    width: 135px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: var(--blue);
    font-size: 1.8rem;
}

#search-button span {
    display: inline;
    font-weight: 600;
}

/* Partie filtres */
form > h2 {
    display: inline-block;
    padding: 45px 37.5px 15px 10px;
}

#section-search button:not(#search-button button) {
    margin: 0px 20px 13px 0px;
}

.text-filter {
    font-size: 1.75rem;
}

/* Sous-partie infos de recherche */
#search-info {
    padding: 0;
    line-height: 95px;
    align-items: center;
}

#search-info i {
    margin: 0px 10px;
}

/* SECTION POPULAIRES */
#section-popular {
    background-color: var(--grey);
    border-radius: 25px;
    grid-column: 2 / 3;
    grid-row: unset;
    grid-template-areas:
        "popular-header"
        "popular-article-1"
        "popular-article-2"
        "popular-article-3";
    grid-template-columns: unset;
    grid-template-rows: unset;
    row-gap: 32px;
    column-gap: unset;
    background-color: var(--grey);
    grid-row: 1 / 2;
    padding: 40px 9.28%;
}

/* Partie header de la section "POPULAIRES" */
#section-popular header {
    margin-bottom: -3px;
}

#section-popular h1 {
    line-height: 30px;
}

/* Carte de la section populaires */
#popular-article-2 img {
    height: 135px;
}

#popular-article-2 div {
    margin-top: 40px;
}

/* SECTION HEBERGEMENTS */
#section-accomodations {
    grid-column: 1 / 2;
    grid-row: unset;
    border-radius: 25px;
    background-color: var(--grey);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "accomodations-header accomodations-header accomodations-header"
        "accomodations-article-1 accomodations-article-2 accomodations-article-3"
        "accomodations-article-4 accomodations-article-5 accomodations-article-6"
        "accomodations-end accomodations-end accomodations-end";
    column-gap: 3.4%;
    row-gap: 30px;
    padding: 40px 4.6%;
}

#section-accomodations h1 {
    line-height: 25px;
    padding: 0px 0 5px 0px;
}

.figure-accomodations img {
    width: 100%;
}

.figure-accomodations figcaption {
    padding-left: 8px;
    padding-right: 8px;
}

#end-accomodations {
    padding: 10px 0px 7px 0px;
    line-height: 20px;
}

/* SECTION ACTIVITES */
aside {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 48px 238px 210px;
    grid-template-areas: none;
    row-gap: 0px;
    column-gap: 3%;
    padding: 60px 3.5%;
}

/* Partie header de la section aside */
aside header {
    grid-area: 1 / 1 / 2 / 5;
    line-height: unset;
    margin-bottom: 0;
}

aside h1 {
    line-height: 25px;
    padding-bottom: 23px;
}

#aside-article-1 {
    grid-area: 2 / 1 / 4 / 2;
    height: 448px;
}

#aside-article-2 {
    grid-area: 2 / 2 / 3 / 3;
    height: 238px;
}

#aside-article-3 {
    grid-area: 3 / 2 / 4 / 3;
    margin-top: 45px;
    height: 165px;
}

#aside-article-4 {
    grid-area: 2 / 3 / 4 / 4;
    height: 448px;
}

#aside-article-5 {
    grid-area: 2 / 4 / 3 / 5;
    margin-bottom: 40px;
    height: 198px;
}

#aside-article-6 {
    grid-area: 3 / 4 / 4 / 5;
    height: 210px;
}

/* Carte de la section aside */
#aside-article-1 img,
#aside-article-4 img {
    height: 390px;
}

#aside-article-2 img {
    height: 181px;
}

#aside-article-3 img {
    height: 109px;
}
#aside-article-5 img {
    height: 140px;
}
#aside-article-6 img {
    height: 153px;
}

.figure-activities h2 {
    font-size: 1.6rem;
    line-height: 56px;
    padding-left: 18px;
}

/* FOOTER */
#footer-about + ul {
    padding-bottom: 43px;
}

footer {
    display: grid;
    grid-template-columns: 31.25% 31.25% 37.25%;
    grid-template-rows: auto;
    grid-template-areas:
        "footer-about-h1 footer-accomodations-h1 footer-assistance-h1"
        "footer-about-ul footer-accomodations-ul footer-assistance-ul";
}

footer h1 {
    padding-top: 40px;
}
