:root {
    font-size: 10px;
    font-family: "Raleway", "sans serif";
    line-height: 1;
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #d9d9d9;
    --lightgrey: #f2f2f2;
    --radius: 20px;
}

body {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.1rem;
}

main {
    display: grid;
}

a {
    text-decoration: none;
    color: black;
}

.star-blue {
    color: var(--blue);
}

.star-grey {
    color: var(--grey);
}

/* HEADER */
body > header {
    width: auto;
}

header nav {
    font-size: 1.55rem;
    display: grid;
    grid-template-areas:
        "header-logo header-sign"
        "header-accomodations header-activities";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 42px;
}

#header-logo {
    grid-area: header-logo;
    margin: 22px 0px 0px 20px;
}

#header-logo img {
    width: auto;
    height: 46px;
}

#header-accomodations {
    grid-area: header-accomodations;
}

#header-activities {
    grid-area: header-activities;
}

#header-accomodations,
#header-activities {
    line-height: 34px;
    border-bottom: 3px solid var(--lightgrey);
    text-align: center;
}

#header-sign {
    grid-area: header-sign;
    text-align: right;
    padding-right: 20px;
    line-height: 90px;
    font-weight: 700;
    color: var(--blue);
}

/* Effet de survol sur les champs "Hébergements" et "Activités"*/
#header-accomodations:hover,
#header-activities:hover {
    border-bottom-color: var(--blue);
    color: var(--blue);
}
/* SECTION RECHERCHE */
#section-search {
    padding: 0 20px;
}

/* Partie header de la section "RECHERCHE" */
#section-search h1 {
    line-height: 27.5px;
    padding: 30px 0px 15px 0px;
}

#section-search p:not(#search-info) {
    font-size: 1.55rem;
    line-height: 20px;
    padding-bottom: 30px;
}

/* Partie principale de la section de recherche */
/* Sous-partie bouton recherche */
#search-button {
    display: flex;
}

#search-button label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgrey);
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    font-size: 1.8rem;
}

#search-button > i {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    visibility: visible;
    font-size: 1.8rem;
}

#search-button input {
    display: flex;
    height: 50px;
    width: calc(100% - 85px);
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    border: 1px solid var(--lightgrey);
    border-right: none;
    padding: 15px;
}

#search-button button {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    font-size: 1.7rem;
    border: none;
    margin-left: -15px;
}

#search-button span {
    display: none;
}

/* Partie filtres */
form > h2 {
    padding: 35px 0px 15px 0px;
    line-height: 20px;
}

#section-search button:not(#search-button button) {
    height: 50px;
    background-color: white;
    border: 2px solid var(--grey);
    border-radius: 25px;
    cursor: pointer;
    margin: 0px 10px 13px 0px;
}

#section-search i:not(#search-button i, #search-info i) {
    width: 50px;
    border-radius: 25px;
    line-height: 46px;
    color: var(--blue);
    background-color: var(--lightblue);
    font-size: 18px;
    margin: -2px;
    border: 2px solid var(--lightblue);
}

.text-filter {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 20px 0 10px;
}

/* Sous-partie infos de recherche */
#search-info {
    display: flex;
    padding: 35px 0;
    font-size: 1.6rem;
    line-height: 18px;
    margin-top: -12px;
}

#search-info i {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    font-size: 1.1rem;
    border: 1px solid var(--grey);
    border-radius: 12.5px;
    color: var(--blue);
    margin-right: 10px;
    margin-top: -5px;
}

/* SECTION POPULAIRES */
#section-popular {
    display: grid;
    grid-template-areas:
        "popular-header"
        "popular-article-1"
        "popular-article-2"
        "popular-article-3";
    row-gap: 20px;
    background-color: var(--grey);
    grid-row: 1 / 2;
    padding: 20px;
}

/* Partie header de la section "POPULAIRES" */
#section-popular header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: popular-header;
    font-size: 2.2rem;
}

/* Carte de la section populaires */
#section-popular article {
    background-color: white;
    border-radius: var(--radius);
    padding: 5px;
    box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
    cursor: pointer;
}

#popular-article-1 {
    grid-area: popular-article-1;
}

#popular-article-2 {
    grid-area: popular-article-2;
}

#popular-article-3 {
    grid-area: popular-article-3;
}

#section-popular figure {
    display: grid;
    grid-template-columns: 127px 1fr;
}

#section-popular img {
    grid-column: 1 / 2;
    width: 127px;
    height: 138px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

#section-popular figcaption {
    grid-column: 2 / 3;
    padding: 0px 45px 0px 20px;
    line-height: 1.1;
}

#section-popular h2 {
    font-size: 1.5rem;
    padding-top: 12px;
}

#section-popular p {
    font-size: 1.35rem;
    line-height: 35px;
}

#section-popular div {
    padding-top: 30px;
    font-size: 1.1rem;
    letter-spacing: -1px;
    line-height: 28px;
}

/* SECTION HEBERGEMENTS */
#section-accomodations {
    grid-row: 2 / 3;
    background-color: var(--lightgrey);
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto repeat(6, 1fr) auto;
    grid-template-areas:
        "accomodations-header"
        "accomodations-article-1"
        "accomodations-article-2"
        "accomodations-article-3"
        "accomodations-article-4"
        "accomodations-article-5"
        "accomodations-article-6"
        "accomodations-end";
    row-gap: 12px;
    padding: 0 20px;
}

#accomodations-article-1 {
    grid-area: accomodations-article-1;
}

#accomodations-article-2 {
    grid-area: accomodations-article-2;
}

#accomodations-article-3 {
    grid-area: accomodations-article-3;
}

#accomodations-article-4 {
    grid-area: accomodations-article-4;
}

#accomodations-article-5 {
    grid-area: accomodations-article-5;
}

#accomodations-article-6 {
    grid-area: accomodations-article-6;
}

/* Partie header de la section "Hébergements" */
#section-accomodations header {
    grid-area: accomodations-header;
    width: 100%;
    line-height: 90px;
    margin-bottom: -12px;
}

/* Carte de la section hébergements */
#section-accomodations article {
    width: 100%;
    background-color: white;
    border-radius: var(--radius);
    cursor: pointer;
}

.figure-accomodations img {
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.figure-accomodations h2 {
    font-size: 1.55rem;
    padding-left: 10px;
    line-height: 30px;
}

.figure-accomodations p {
    font-size: 1.35rem;
    padding-left: 10px;
    line-height: 20px;
}

.figure-accomodations div {
    font-size: 1.15rem;
    letter-spacing: -1px;
    padding-left: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

/* Fin de la section "Hébergements" */
#end-accomodations {
    grid-area: accomodations-end;
    width: 100%;
    line-height: 78px;
}

/* SECTION ACTIVITES */
aside {
    display: grid;
    grid-template-areas:
        "aside-header"
        "aside-article-1"
        "aside-article-2"
        "aside-article-3"
        "aside-article-4"
        "aside-article-5"
        "aside-article-6";
    row-gap: 20px;
    background-color: var(--lightgrey);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

/* Partie header de la section aside */
aside header {
    grid-area: aside-header;
    line-height: 107px;
    margin-bottom: -20px;
}

#aside-article-1 {
    grid-area: aside-article-1;
}

#aside-article-2 {
    grid-area: aside-article-2;
}

#aside-article-3 {
    grid-area: aside-article-3;
}

#aside-article-4 {
    grid-area: aside-article-4;
}

#aside-article-5 {
    grid-area: aside-article-5;
}

#aside-article-6 {
    grid-area: aside-article-6;
}

/* Carte de la section aside */
.figure-activities {
    background-color: white;
    border-radius: var(--radius);
    box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
    cursor: pointer;
}

.figure-activities img {
    width: 100%;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.figure-activities h2 {
    font-size: 1.6rem;
    line-height: 56px;
    padding-left: 18px;
}

/* FOOTER */
#footer-about {
    grid-area: footer-about-h1;
    padding-top: 40px;
}

#footer-about + ul {
    grid-area: footer-about-ul;
    padding-bottom: 24px;
}

#footer-accomodations {
    grid-area: footer-accomodations-h1;
}

#footer-accomodations + ul {
    grid-area: footer-accomodations-ul;
    padding-bottom: 36px;
}

#footer-assistance {
    grid-area: footer-assistance-h1;
}

#footer-assistance + ul {
    grid-area: footer-assistance-ul;
    padding-bottom: 42px;
}

footer {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "footer-about-h1"
        "footer-about-ul"
        "footer-accomodations-h1"
        "footer-accomodations-ul"
        "footer-assistance-h1"
        "footer-assistance-ul";
    background-color: var(--grey);
}

footer h1 {
    font-size: 1.8rem;
    font-weight: 700;
    padding-left: 30px;
    width: 100%;
    line-height: 40px;
}

footer a {
    font-size: 1.55rem;
    line-height: 32px;
}

footer ul {
    padding-left: 30px;
}
