:root {
    font-size: 10px;
    font-family: "Raleway", "sans serif";
    line-height: 1;
    --blue: #0065fc;
    --lightblue: #deebff;
    --grey: #d9d9d9;
    --lightgrey: #f2f2f2;
    --radius: 20px;
}

body {
    font-size: 1rem;
    line-height: 1;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 10px;
}

h2 {
    font-size: 1.75rem;
    font-weight: 700;
    padding-bottom: 10px;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.1rem;
}

main {
    display: grid;
    grid-template-rows: 580px 1400px;
}

a {
    text-decoration: none;
    color: black;
}

.star-blue {
    color: var(--blue);
}

.star-grey {
    color: var(--grey);
}

/* HEADER */
#top-page {
    width: 100%;
    height: 150px;
}

#top-page nav {
    display: grid;
    grid: 50% 50% / 120px 1fr 1fr 120px;
    width: 100%;
    height: 150px;
    font-size: 1.55rem;
}

nav a {
    display: inline-block;
}

#header-logo {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 75px;
    padding: 25px 10px 7px 20px;
}

#header-logo img {
    width: 100px;
}

#header-accomodations {
    grid-area: 2 / 1 / 3 / 3;
}

#header-activities {
    grid-area: 2 / 3 / 3 / 5;
}

#header-accomodations,
#header-activities {
    width: 100%;
    height: 55px;
    border-bottom: 3px solid var(--lightgrey);
    margin-bottom: 20px;
    padding: 21px 0px 10px 0px;
    text-align: center;
}

#header-sign {
    grid-area: 1 / 4 / 2 / 5;
    width: 100%;
    height: 75px;
    padding: 40px 0px 20px 0px;
    text-align: center;
    font-weight: 700;
    color: var(--blue);
}

/* Effet de survol sur les champs "Hébergements" et "Activités"*/
#header-accomodations:hover,
#header-activities:hover {
    border-bottom-color: var(--blue);
    color: var(--blue);
}

/* SECTION RECHERCHE */
#section-search {
    margin: 15px 20px 0px 20px;
}

/* Partie header de la section "RECHERCHE" */
#section-search header {
    width: 100%;
    height: 115px;
    font-size: 1.55rem;
    line-height: 1.2;
}

/* Partie principale de la section de recherche */
#section-search form {
    width: 100%;
    height: 405px;
}

form h2 {
    padding: 37.5px 0px 15px 0px;
}

/* Sous-partie bouton recherche */
#search-button {
    display: flex;
}

#search-button label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightgrey);
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    font-size: 1.8rem;
}

label i {
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    visibility: visible;
    font-size: 1.8rem;
}

#search-button input {
    display: flex;
    height: 50px;
    width: 79%;
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    border: 1px solid var(--lightgrey);
    border-right: none;
    padding: 15px;
    margin-right: -15px;
}

#search-button button {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 1.8rem;
    border: none;
    margin-left: -15px;
}

#search-button span {
    display: none;
}

/* Partie filtres */
#filter-box {
    display: flex;
    flex-flow: row wrap;
}

#filter-box button {
    display: flex;
    justify-content: center;
    margin: 5px 10px 10px 0px;
    background-color: white;
    border: none;
    cursor: pointer;
}

#filter-box i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: -25px;
    border-radius: 50px;
    color: var(--blue);
    background-color: var(--lightblue);
    font-size: 18px;
    z-index: 2;
}

.text-filter {
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 35px;
    font-size: 1.5rem;
    font-weight: 800;
    border: 2px solid var(--grey);
    border-left: 0px none white;
    border-radius: 0px 50px 50px 0px;
    z-index: 1;
    height: 48px;
}

/* Sous-partie infos de recherche */
#search-info {
    display: flex;
    width: 100%;
    margin: 25px 0px 35px 0px;
    font-size: 1.6rem;
    line-height: 1.1;
}

#search-info i {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    font-size: 1.1rem;
    border: 1px solid var(--grey);
    border-radius: 25px;
    color: var(--blue);
    margin-right: 10px;
    margin-top: -5px;
}

/* SECTION POPULAIRES */
#section-popular {
    background-color: var(--grey);
    grid-row: 1 / 2;
    width: 100%;
    height: 580px;
    padding: 0px 20px 0px 20px;
}
/* Partie header de la section "POPULAIRES" */
#section-popular header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 40px;
    margin-bottom: 18px;
    font-size: 2.2rem;
}

/* Carte de la section populaires */
#section-popular article {
    width: 100%;
    height: 145px;
    background-color: white;
    margin-bottom: 11px;
    border-radius: var(--radius);
    padding: 5px;
    box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
    cursor: pointer;
}

#section-popular figure {
    display: grid;
    grid-template-columns: 127px 198px;
}

#section-popular img {
    grid-column: 1 / 2;
    width: 127px;
    height: 135px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

#section-popular figcaption {
    grid-column: 2 / 3;
    padding: 12px 45px 12px 20px;
    line-height: 1.1;
}

#section-popular h2 {
    font-size: 1.5rem;
}

#section-popular p {
    font-size: 1.35rem;
    margin-bottom: 45px;
}

#section-popular div {
    font-size: 1.1rem;
    letter-spacing: -1px;
}

/* SECTION HEBERGEMENTS */
#section-accomodations {
    grid-row: 2 / 3;
    background-color: var(--lightgrey);
    padding: 40px 20px 0px 20px;
    width: 100%;
    height: 1400px;
}

/* Partie header de la section "Hébergements" */
#section-accomodations header {
    width: 100%;
    margin-bottom: 11px;
}

/* Carte de la section hébergements */
#section-accomodations article {
    width: 325px;
    height: 198px;
    padding: 5px;
    margin-bottom: 12px;
    background-color: white;
    border-radius: var(--radius);
    line-height: 1.1;
}

.figure-accomodations img {
    width: 100%;
    height: 114px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.figure-accomodations h2 {
    font-size: 1.55rem;
    padding: 10px 0px 5px 10px;
}

.figure-accomodations p {
    font-size: 1.35rem;
    padding: 0px 0px 5px 10px;
}

.figure-accomodations div {
    font-size: 1.15rem;
    letter-spacing: -1px;
    padding: 5px 0px 0px 10px;
}

/* Fin de la section "Hébergements" */
#end-accomodations {
    width: 100%;
    height: 52px;
    padding-top: 20px;
}

/* SECTION ACTIVITES */
aside {
    padding: 40px 20px 0px 20px;
    width: 100%;
    height: 1400px;
    background-color: var(--lightgrey);
}

/* Partie header de la section aside */
aside header {
    width: 100%;
    margin-bottom: 20px;
}

/* Carte de la section aside */
.figure-activities {
    width: 333px;
    height: 190px;
    background-color: white;
    margin-bottom: 24px;
    border-radius: var(--radius);
    box-shadow: 5px 5px 10px rgb(177 177 177 / 40%);
    cursor: pointer;
}

.figure-activities img {
    width: 100%;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.figure-activities h2 {
    font-size: 1.6rem;
    padding: 17px 0px 17px 17px;
}

/* FOOTER */
footer {
    background-color: var(--grey);
    padding: 9px 0px 36px 30px;
    width: 100%;
    height: 485px;
}

footer h1 {
    font-size: 2rem;
    margin-top: 36px;
    padding-bottom: 20px;
}

footer a {
    font-size: 1.6rem;
    line-height: 2;
}

footer ul {
    width: 100%;
}

/* Correction de l'espace entre la 1ère colonne du footer et le 2ème h1 */
#footer-accomodations {
    margin-top: 24px;
}
