/* ENTRE 426px et 620px */

/* SECTION RECHERCHE */
/* Sous-partie bouton recherche */
#search-button i:not(label i) {
    display: none;
}

#search-button input {
    max-width: 255px;
}

#search-button button {
    width: 135px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: var(--blue);
    font-size: 1.8rem;
}

#search-button span {
    display: inline;
    font-weight: 600;
}

/* ENTRE 621px et 1023px */
@media screen and (min-width: 620px) {
    /* HEADER */
    #header-logo {
        margin-left: 50px;
    }

    #header-sign {
        padding-right: 75px;
    }

    /* SECTION RECHERCHE */
    #section-search {
        padding: 0 50px;
    }

    /* SECTION POPULAIRES */
    #section-popular {
        grid-template-areas:
            "popular-header popular-header"
            "popular-article-1 popular-article-2"
            "popular-article-3 popular-article-2";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48px 145px 145px;
        row-gap: 10px;
        column-gap: 10px;
        padding: 40px 50px 36px 50px;
    }

    /* Carte de la section populaires */
    #popular-article-2 img {
        height: 290px;
    }

    #popular-article-2 div {
        margin-top: 195px;
    }

    /* SECTION HEBERGEMENTS */
    #section-accomodations {
        grid-row: 2 / 3;
        background-color: var(--white);
        grid-template-areas:
            "accomodations-header accomodations-header"
            "accomodations-article-1 accomodations-article-2"
            "accomodations-article-3 accomodations-article-4"
            "accomodations-article-5 accomodations-article-6"
            "accomodations-end accomodations-end";
        row-gap: 12px;
        column-gap: 12px;
        padding: 0 50px;
    }

    /* SECTION ACTIVITES */
    aside {
        grid-template-areas:
            "aside-header aside-header"
            "aside-article-1 aside-article-2"
            "aside-article-1 aside-article-3"
            "aside-article-6 aside-article-4"
            "aside-article-5 aside-article-4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48px 190px 190px;
        row-gap: 10px;
        column-gap: 10px;
        padding: 25px 50px 50px 50px;
    }

    /* Partie header de la section aside */
    aside header {
        line-height: unset;
        margin-bottom: 0;
    }

    aside h1 {
        line-height: 25px;
        padding-bottom: 23px;
    }

    /* Carte de la section aside */
    #aside-article-1 img,
    #aside-article-4 img {
        height: 334px;
    }

    #aside-article-2 img,
    #aside-article-3 img,
    #aside-article-5 img,
    #aside-article-6 img {
        height: 134px;
    }

    /* FOOTER */
    footer h1 {
        padding-left: 50px;
    }

    footer ul {
        padding-left: 50px;
    }
}
